
/* ==========================================================================
   Global
   ========================================================================== */
html {
  background-color: var(--mainColor);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (--tablet) {
  html {
    background-color: var(--mobileColor);
  }
}


h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  word-wrap: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  cursor:pointer;
  border:0;
  -webkit-appearance:none;
  outline:0;
  padding:0;
  box-shadow:none;
  user-select:none;
  text-decoration:none;
  font-style:normal;
  color:inherit;
  background-color: transparent;
}
