
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --mainColor: cornflowerblue;
  --lightestColor: white;
  --frontEndColor: orange;
}
